@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .container{
        @apply max-w-[1440px] mx-auto;
        
    }

    .nav-text {
        @apply text-[14px];
    }

    .text-dblue{
        @apply text-[#003c55] font-[700]
        
    }
}